* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-1: #66bb6a;
  --clr-2: #388e3c;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 280%;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.row{
  background-color: transparent !important;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.logo{
  font-size: 220%;
  color: White;
  font-family: "Libre Baskerville", serif;
  text-shadow: 2px 2px 5px #555;
}
.row a{
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
 
}
.row a:hover{
  color: #fff;
  border-bottom: 2px solid var(--clr-1);
}
.hero-text-box{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../images/house.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.container-fluid{
  padding: 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* index.html */
.row1{
  position: relative;
  top: 40vh;
  color: white;
}
.row1 .btn{
  width: 177.36px;
  height: 44.6px;
  background-color: var(--clr-1);
  margin: 0px 15px 0px 0px;
  padding: 10px 30px;
  font: 20px lato;
  color: #fff;
}
.row1 .btn1{
  width: 305.56px;
  height: 44.6px;
  border: 1px solid var(--clr-1);
  padding: 10px 30px;
  font: 20px lato;
  color: var(--clr-1);
}