{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="{% https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js %"}
    ></script>
    <script
      nomodule=""
      src="{% https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js %"}
    ></script>
    <script
      src="{% https://kit.fontawesome.com/e64903163a.js %"}
      crossorigin="anonymous"
    ></script>
    
    <title>Lawn and Yard Services</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <nav>
          <div class="row headerrr">
            <div class="logo">Lawn and Yard Services</div>
            <div class="logo-black">Lawn and Yard Services</div>
            <ul class="main-nav js--main-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="{% url 'login' %}">Login | Sign in</a></li>
            </ul> 
            <a class="mobile-nav-icon js--nav-icon"
              ><i class="fas fa-bars"></i
            ></a>
          </div>
        </nav>
       
        
      </header>
    </div>

    {% block content %}
    hiiii.......
    {% endblock %}
    <footer>
      <div class="row">
        <div class="col span-1-of-2">
          <ul class="footer-nav">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">iOS App</a></li>
            <li><a href="#">Android App</a></li>
          </ul>
        </div>

        <div class="col span-1-of-2">
          <ul class="social-links">
            <li>
              <a href="#"
                ><ion-icon
                  name="logo-facebook"
                  class="footer-icon facebook-icon"
                ></ion-icon
              ></a>
            </li>
            <li>
              <a href="#"
                ><ion-icon
                  name="logo-twitter"
                  class="footer-icon twitter-icon"
                ></ion-icon
              ></a>
            </li>
            <li>
              <a href="#"
                ><ion-icon
                  name="logo-instagram"
                  class="footer-icon instagram-icon"
                ></ion-icon
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <p>
          Copyright &copy; 2021 Lawn and Yard Services. All rights reserved.
        </p>
        
      </div>
    </footer>


    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  
    <script src="{% static 'js/script.js' %}"></script>
  </body>

