{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="hero-text-box">
    <div class="row1">
        <div class="col-12"><p class="main">Your local Neighborhood landscaper.</p></div>
        <div class="col">
           <a class="btn" href="#">Contact Now</a>
           <a class="btn1" href="#">See our Current Specials</a>
        </div>
    </div>
</div>

    <!-- about-us section -->
    <section class="section-about-us js--section-about-us" id="about-us">
        <div class="row">
          <h2>licensed &mdash; insured &mdash; bonded</h2>
          <p class="long-copy">
            Hello, we're Lawn and Yard Services, your local neighborhood
            landscaping service. We know you're always busy with no time for
            yard-care. So let us take care of that, we're really good at it, we
            promise!
          </p>
        </div>
        <div class="row js--wp-1">
          <div class="col span-1-of-4 box">
            <ion-icon
              name="calendar-outline"
              alt="calendar icon"
              class="about-us-icon"
            ></ion-icon>
            <h3>Flexible Scheduling</h3>
            <p>
              Never mow again! We really mean that. We are available 7-days a
              week, minus major holidays. On-call service available.
            </p>
          </div>
          <div class="col span-1-of-4 box">
            <ion-icon
              name="home-outline"
              alt="home icon"
              class="about-us-icon"
            ></ion-icon>
            <h3>Yard Services</h3>
            <p>
              Full-service yard care. Including weeding, mowing, edging and
              cleanup. We also offer fertilizing, re-seeding and moss control.
            </p>
          </div>
          <div class="col span-1-of-4 box">
            <ion-icon
              name="leaf-outline"
              alt="leaf icon"
              class="about-us-icon"
            ></ion-icon>
            <h3>Tree Services</h3>
            <p>
              Tree services include trimming, pruning, topping and shaping.
              Shrubs, bushes, hedges and ornamentals included. Blackberry removal.
            </p>
          </div>
          <div class="col span-1-of-4 box">
            <ion-icon
              name="earth-outline"
              alt="earth icon"
              class="about-us-icon"
            ></ion-icon>
            <h3>Earth Friendly</h3>
            <p>
              We use only all-natural organic fertilizers, no harsh chemicals. All
              yard waste is responsibly composted. Nothing goes into a landfill.
            </p>
          </div>
        </div>
      </section>

{% endblock %} 