{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="Logincontainer">
 <div class="wrapper">
    <form action="{% url 'dashboard' %}" method="post">
        {% csrf_token %}
      <div id="wrapper">
        <!-- <div id="loginImg"><img src={rimg} style=width:30vw></div> -->
       
            <div id="loginBox">               
            <p class="Logintext">Login From</p>
           <center> <h1>f      G      In</h1></center>
                  <input type="text" placeholder="Enter Your Name "   name="name" > <br /> <br/>
    
                  <input type="email" placeholder="Enter Email "   name="email" > <br /> <br/>
    
                  <input type="text" placeholder="Enter phone no. "   name="phone" > <br /> <br/>
    
                  <div style=display:flex, gap:10px>
                       <input type="password" placeholder="Create Password "  name="password" > <br /> <br/>
                       <input type="password" placeholder="Repeat Password "  name="re_password"> <br /> <br/>                      
                  </div>
                  <br>
                  <br>
    
                <center><button type="submit" class="Lbtnn">Login</button></center>
            </div>
        </div>
      </form>
   </div>
</div>
  
{% endblock %}

